{% extends "base.html" %}

{% block title %}신춘문예 당선작 모음{% endblock %}
{% block style %}
<style>
    .desc_box{
    width: 50%;
    margin: 10px auto;
    }
</style>
{% endblock %}
{% block content %}
<div class="desc_box">
    <div class="desc">문학은 늘 새로운 얼굴과 목소리를 기다립니다.</div>
    <div class="desc">그 기다림 끝에, 매년 봄이면 신춘문예를 통해 수많은 신인 작가들이 자신의 이야기를 세상에 내놓습니다.</div>
    <div class="desc">이 공간은 그런 귀하고 소중한 순간들을 모아둔 곳입니다.</div>
    <div class="desc">신춘문예 당선작은 단순한 ‘수상작’이 아니라, 문학의 새로운 가능성과 미래를 담은 시작입니다.</div>
    <div class="desc">수많은 작가들이 각자의 언어로 고통과 희망, 사랑과 상실, 일상의 작은 풍경과 거대한 사유를 풀어내는</div>
    <div class="desc">이 작품들은 독자 여러분께 새로운 시선과 감동을 선사할 것입니다.</div>
    <div class="desc">새로운 봄의 시작을 알리는 이 작품들은 문학이라는 거대한 바다에서 반짝이는 작은 등대와 같습니다.</div>
    <div class="desc">그 빛은 때로는 따뜻하고, 때로는 날카로우며, 모두가 서로 다른 빛깔로 독자를 이끕니다.</div>
    <div class="desc">여러분께서는 이곳에서 앞으로의 문학을 이끌어갈 젊은 작가들의 첫걸음을 만날 수 있습니다.</div>
    <div class="desc">그들의 열정과 꿈, 그리고 문학에 대한 진지한 고민이 담긴 글들이 여러분의 마음을 움직이길 바랍니다.</div>
    <div class="desc">오늘의 신춘문예 수상작은 내일의 문학을 밝혀 줄 빛나는 별입니다.</div>
    <div class="desc">함께 그 빛을 따라가며 새로운 문학 세계를 만나보시길 기대합니다.</div>
</div>
{% endblock %}